:root {
    --cherry: 'Cherry Bomb One', cursive;
    --main-orange-color: #FDC330;
    --main-font: 'Ubuntu', sans-serif;
    --Space: url("https://www.31-agency.com/MainSite/Requirements/IMG/SpaceBg.gif");
    --back-Ground-withPlanet: url(Images/Screen\ back\ ground\ 4.jpg);
    --space-bachground: url(Images/Space-background.jpg)
}

body {
    margin: 0;
}

/* Nav Bar-Start */
nav {
    background-image: var(--back-Ground-withPlanet);
    padding: 10px;
    background-color: #fff8e7;
    height: 900px;
}

a {
    text-decoration: none;
}

.stiky {
    position: sticky;
    top: 700px;
    left: 30px;
    font-size: 40px;
    transform: rotate(90deg);
    color: #ffbb00;
    background-color: #fff5da;
    border: solid 2px var(--main-orange-color);
    border-radius: 50% ;
    cursor: pointer;
    padding: 5px;
    z-index: 100;
}

#pref-sec {
    margin-top: 10px;
    float: right;
    margin-right: 10px;
    font-family: var(--main-font)
}

.planet-text {
    text-align: justify;
    letter-spacing: -1px;
}

.pref {
    margin: 10px;
    color: #ffffff;
    font-weight: bold;
    transition: text-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
    font-size: 30px;
}

.pref:hover {
    color: #FDC330;
    text-shadow: 1px 1px 5px #FDC330;
}

/*****/
#main-nav {
    overflow: hidden;
    padding: 10px;
    font-family: 'Barriecito', cursive;
}

#p-nav {
    margin-top: 250px;
    margin-left: 100px;
    font-size: 50px;
    line-height: 70px;
    color: #FDC330;

}

#solar-system-img {
    float: right;
    width: 540px;
    margin-right: 20px;
}

/* Animation */
#spin-container {
    position: relative;
    top: -50px;
    width: 400px;
    height: 100px;
}

#spin {
    color: #BC6264;
    margin-left: -400px;
    /* Initial position outside the container */
    font-size: 70px;
    white-space: nowrap;
}

#spin:after {
    content: "";
    color: "";
    animation: slideIn 2s forwards, spin 15s linear infinite;
}

@keyframes slideIn {
    0% {
        margin-left: -400px;
    }

    100% {
        margin-left: 500px;
        /* End position */
    }
}

@keyframes spin {

    0%,
    10%,
    20%,
    30%,
    40%,
    50%,
    60%,
    70%,
    80%,
    90% {
        opacity: 1;
    }

    5%,
    15%,
    25%,
    35%,
    45%,
    55%,
    65%,
    75%,
    85%,
    95% {
        opacity: 0;
        transform: translateX(100%);
    }

    0% {
        content: "Earth";
        color: rgb(101, 231, 223);
    }

    10% {
        content: "Saturn";
        color: rgb(200, 226, 53);
    }

    20% {
        content: "Jupiter";
        color: rgb(139, 117, 7);
    }

    30% {
        content: "Venus";
        color: rgb(236, 101, 11);
    }

    40% {
        content: "Mars";
        color: rgb(32, 46, 202);
    }

    50% {
        content: "Neptune";
        color: rgb(185, 56, 56);
    }

    60% {
        content: "Mercury";
        color: rgb(149, 134, 134);
    }

    70% {
        content: "Uranus";
        color: rgb(11, 74, 134);
    }

    80% {
        content: "Earth";
        color: rgb(101, 231, 223);
    }

    90% {
        content: "Venus";
        color: rgb(236, 101, 11);
    }

    100% {
        content: "Mars";
        color: rgb(32, 46, 202);
    }
}

/* Nav Bar-End */

/* Main Bar-Start */

/* Slider SEC / STart */
#sec1-main {
    height: 700px;
    background-image: url(Images/PLanets/Earth.png), url(Images/PLanets/Mars.png), url(Images/Start-backGround.png);
    background-repeat: no-repeat, no-repeat;
    background-size: 200px, 180px, auto;
    background-position: top left, right bottom, center;
    padding: 20px;
}

#sec1-h1 {
    margin-bottom: 100px;
    color: #FDC330;
    font-family: 'Cherry Bomb One', cursive;
    margin-left: 400px;
}

/* Slider */

.slider {
    width: 1500px;
    overflow: hidden;
    white-space: nowrap;
    padding: 5px;
    border-radius: 10px;
}

.cards {
    border-radius: 10px;
    display: inline-block;
    height: 400px;
    width: calc(100% / 3);
    background-color: #FDC330;
    margin: 5px;
    transition: background-color 0.5s ease-in-out, color 0.2s ease-in-out;
    font-family: var(--main-font);
    color: white;
    padding: 10px;
    overflow-x: hidden;
}


.cards.active {
    background-color: #fffaed;
    border: 2px solid #FDC330;
    color: rgb(0, 0, 0);
}

.slider-controls-b {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 80px;
}

.slider-control {

    margin: 0 5px;
    cursor: pointer;
}

#left-but {
    background-color: #ffffff;
    color: #FDC330;
    font-size: x-large;
    border: solid 2px #FDC330;
    border-radius: 50%;
    padding: 5px;
    transition: background-color 0.5s ease-in-out, padding 0.5s ease-in-out;
}

#left-but:hover {
    background-color: #FDC330;
    color: #FFF8E7;
    font-size: x-large;
    border-radius: 50%;
    padding: 7px;
}

#right-but {
    background-color: #ffffff;
    color: #FDC330;
    font-size: x-large;
    border: solid 2px #FDC330;
    border-radius: 50%;
    padding: 5px;
    transition: background-color 0.5s ease-in-out, padding 0.5s ease-in-out;
}

#right-but:hover {
    background-color: #FDC330;
    color: #FFF8E7;
    font-size: x-large;
    border-radius: 50%;
    padding: 7px;
}



/* Slider SEc / END */

/* Card SEc / Start */
#card-sec {
    background-image: var(--space-bachground);
    background-size: contain;
    margin-top: 20px;
    padding: 10px;
    padding-top: 30px;
    background-color: #fff8e7;
    height: 850px;
    margin-bottom: 75px;
}

.firt-row {
    margin-bottom: 30px;
}

.card-sec-imegs {
    width: 100px;
    position: relative;
    bottom: 28px;
    display: inline-block
}

.card-sec-dives {
    padding: 5px;
    width: 200px;
    height: 340px;
    background-color: #FDC330;
    margin: 5px;
    border-radius: 10px;
    font-family: var(--main-font);
}

#sec2-h1 {
    color: #FDC330;
    font-family: 'Cherry Bomb One', cursive;
    margin-left: 35%;
    margin-bottom: 30px;
}

#earth {
    background-color: #afdb7200;
    border: solid 0px #B0DB72;
    background-image: url(Images/PLanets/Earth.png);
    background-position: center;
    background-size: 300px;
    background-repeat: no-repeat;
    text-indent: -90000px;
    transition: background-size 0.5s ease-in-out, text-indent 0.1s ease-in 0.0s, background-color 0.3s ease-in-out;
}

#earth:hover {
    background-color: #B0DB72;
    background-image: url(Images/PLanets/Earth.png);
    background-position: top center;
    background-size: 10px;
    background-repeat: no-repeat;
    text-indent: 0;
}

#Jupitar {
    background-color: rgba(245, 180, 127, 0);
    border: solid 0px rgb(245, 180, 127);
    background-image: url(Images/PLanets/Jupetar.png);
    background-position: center;
    background-size: 300px;
    background-repeat: no-repeat;
    text-indent: -90000px;
    transition: background-size 0.4s ease-in-out, text-indent 0.0s ease-in 0.1s, background-color 0.3s ease-in-out;
}

#Jupitar:hover {
    background-color: rgb(245, 180, 127);
    background-image: url(Images/PLanets/Jupetar.png);
    background-position: top center;
    background-size: 10px;
    background-repeat: no-repeat;
    text-indent: 0;
}

#Saturn {
    background-color: rgba(238, 163, 52, 0);
    border: solid 0px rgba(238, 163, 52, 0.884);
    background-image: url(Images/PLanets/Saturn.png);
    background-position: center;
    background-size: 300px;
    background-repeat: no-repeat;
    text-indent: -90000px;
    transition: background-size 0.4s ease-in-out, text-indent 0.0s ease-in 0.1s, background-color 0.3s ease-in-out;
}

#Saturn:hover {
    background-color: rgb(238, 163, 52);
    background-image: url(Images/PLanets/Saturn.png);
    background-position: top center;
    background-size: 10px;
    background-repeat: no-repeat;
    text-indent: 0;
}

#Neptune {
    background-color: rgba(79, 143, 196, 0);
    border: solid 0px rgba(238, 163, 52, 0.884);
    background-image: url(Images/PLanets/Neptune.png);
    background-position: center;
    background-size: 300px;
    background-repeat: no-repeat;
    text-indent: -90000px;
    transition: background-size 0.4s ease-in-out, text-indent 0.0s ease-in 0.1s, background-color 0.3s ease-in-out;
}

#Neptune:hover {
    background-color: rgb(79, 143, 196);
    background-image: url(Images/PLanets/Neptune.png);
    background-position: top center;
    background-size: 10px;
    background-repeat: no-repeat;
    text-indent: 0;
}

#Uranus {
    background-color: rgba(79, 143, 196, 0);
    border: solid 0px rgba(238, 163, 52, 0.884);
    background-image: url(Images/PLanets/Uranus.png);
    background-position: center;
    background-size: 300px;
    background-repeat: no-repeat;
    text-indent: -90000px;
    transition: background-size 0.4s ease-in-out, text-indent 0.0s ease-in 0.1s, background-color 0.3s ease-in-out;
}

#Uranus:hover {
    background-color: rgb(79, 143, 196);
    background-image: url(Images/PLanets/Uranus.png);
    background-position: top center;
    background-size: 10px;
    background-repeat: no-repeat;
    text-indent: 0;
}

#Venus {
    background-color: #ffe46900;
    border: solid 0px rgba(238, 163, 52, 0.884);
    background-image: url(Images/PLanets/Venus.png);
    background-position: center;
    background-size: 300px;
    background-repeat: no-repeat;
    text-indent: -90000px;
    transition: background-size 0.4s ease-in-out, text-indent 0.0s ease-in 0.1s, background-color 0.3s ease-in-out;
}

#Venus:hover {
    background-color: #ffe469;
    background-image: url(Images/PLanets/Venus.png);
    background-position: top center;
    background-size: 10px;
    background-repeat: no-repeat;
    text-indent: 0;
}

#Mercury {
    background-color: #74737300;
    border: solid 0px rgba(238, 163, 52, 0.884);
    background-image: url(Images/PLanets/Mercury.png);
    background-position: center;
    background-size: 300px;
    background-repeat: no-repeat;
    text-indent: -90000px;
    transition: background-size 0.4s ease-in-out, text-indent 0.0s ease-in 0.1s, background-color 0.3s ease-in-out;
}

#Mercury:hover {
    background-color: #949393;
    background-image: url(Images/PLanets/Mercury.png);
    background-position: top center;
    background-size: 10px;
    background-repeat: no-repeat;
    text-indent: 0;
}

#Mars {
    background-color: rgba(255, 125, 65, 0);
    border: solid 0px rgba(238, 163, 52, 0.884);
    background-image: url(Images/PLanets/Mars.png);
    background-position: center;
    background-size: 300px;
    background-repeat: no-repeat;
    text-indent: -90000px;
    transition: background-size 0.4s ease-in-out, text-indent 0.0s ease-in 0.1s, background-color 0.3s ease-in-out;
}

#Mars:hover {
    background-color: rgb(255, 125, 65);
    background-image: url(Images/PLanets/Mars.png);
    background-position: top center;
    background-size: 10px;
    background-repeat: no-repeat;
    text-indent: 0;
}

/* Card SEc / END */

/* Dash-Bord-Section / Start */
.Dash-Bord-Section {
    height: 700px;
    background-image: url(Images/PLanets/Earth.png), url(Images/PLanets/Mars.png), url(Images/Start-backGround.png);
    background-repeat: no-repeat, no-repeat;
    background-size: 200px, 180px, auto;
    background-position: top left, right bottom, center;
    padding: 20px;
}

#header-class-board {
    margin-left: 10%;
    margin-bottom: 100px;
}

.main-class-board {
    margin-left: 30%;
    margin-bottom: 70px;
}

.class-board {
    background-image: url(Images/class-board2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center top;
    height: 500px;
    width: 1200px;
    margin-left: 15%;
    border: solid 15px burlywood;
    border-image: url(Images/wood-pattern2.jpeg) 50 round;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

/* Dash-Bord-Section / End */

/* Scroll-Section / Start */
#Scroll-Section {
    color: #FDC330;
    background-image: var(--space-bachground);
    background-size: contain;
    background-position: bottom right, top left;
    margin-top: 20px;
    padding-top: 30px;
    background-color: #fff8e7;
    height: 830px;
}

.container-side {
    display: flex;
    /* Use flexbox to arrange the divs side by side */
}

.side-by-side-divs {
    height: 700px;
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
}

#left-side {
    display: flex;
    justify-content: center;
    align-items: center;
}

#left-slider {
    height: 80%;
    width: 80%;
    background-color: rgba(199, 199, 199, 0);
    overflow-y: scroll;
    padding: 10px;
}

#left-slider::-webkit-scrollbar-track {
    padding: 2px 0;
    background-color: #dfdfdf;
    border-radius: 10px;
}

#left-slider::-webkit-scrollbar {
    width: 10px;
}

#left-slider::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px #dfdfdf(0, 0, 0, .3);
    background-color: #FDC330;
    border: 1px solid #FDC330;
}

#left-slider-h3 {
    font-family: var(--cherry);
    margin-left: 10%;
}


.scroll-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 30%;
    background-color: #FDC330;
    border-radius: 10px;
    margin-left: 5%;
    margin-bottom: 12px;
    cursor: pointer;
}

.scroll-card:hover {
    transform: scale(1.1);
    background-color: #fddf9c;
}

#space-x {
    background-color: rgb(224, 224, 224);
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

#space-x:hover {
    transform: scale(1.1);
    background-color: rgb(243, 243, 243);
}

#blue-orgin {
    background-color: rgb(128, 197, 236);
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

#blue-orgin:hover {
    transform: scale(1.1);
    background-color: rgb(199, 231, 250);
}

#NASA {
    background-color: rgb(128, 178, 236);
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

#NASA:hover {
    transform: scale(1.1);
    background-color: rgb(212, 232, 255);
}

#ESA {
    background-color: rgb(124, 150, 179);
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

#ESA:hover {
    transform: scale(1.1);
    background-color: rgb(187, 203, 221);
}

#Virgin {
    background-color: rgb(200, 143, 247);
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

#Virgin:hover {
    transform: scale(1.1);
    background-color: rgb(157, 45, 248);
}

#Rocket-lap {
    background-color: rgb(250, 153, 62);
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

#Rocket-lap:hover {
    transform: scale(1.1);
    background-color: rgb(255, 182, 114);
}

.right-side-slider {
    margin-top: 15%;
}

.right-side-slider-h1 {
    color: var(--main-orange-color);
    font-family: var(--cherry);
}

.right-side-slider-p {
    font-family: var(--main-font);
    color: white;
}

.mySlides {
    display: none
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -25px;
    color: #fdc330;
    font-weight: bold;
    font-size: 50px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 90%;
    width: 90%;
    border-radius: 10px;
}


.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #d6d6d6;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #fdc330;
}


/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

/*  Scroll Section / End */

/*  Slider-3 Section / Start */

#slider3 {
    height: 850px;
    background-image: url(Images/Sintest2.png), url(Images/Sintest1.png), url(Images/Start-backGround.png);
    background-repeat: no-repeat, no-repeat;
    background-size: 320px, 250px, auto;
    background-position: top left, right bottom, center;
    padding: 20px;
}

.slider-last {
    max-width: 100rem;
    height: 700px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.slide-last {
    position: absolute;
    top: 0;
    width: 100%;
    height: 700px;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 1s;
}

.slider-last>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider__btn {
    position: absolute;
    top: 50%;
    z-index: 10;
    border: none;
    background-color: #ffebba;
    font-family: inherit;
    color: #FDC330;
    border-radius: 50%;
    height: 5.5rem;
    width: 5.5rem;
    font-size: 3.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, font-size 0.3s ease-in-out,
        height 0.3s ease-in-out, width 0.3s ease-in-out;
}

.slider__btn:hover {
    background-color: #FDC330;
    color: #ffebba;
    font-size: 3.7rem;
    height: 6rem;
    width: 6rem;
}

.slider__btn--left {
    left: 6%;
    transform: translate(-50%, -50%);
}

.slider__btn--right {
    right: 6%;
    transform: translate(50%, -50%);
}

.dots-last {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.dots__dot {
    border: none;
    background-color: #ffe5a4;
    opacity: 0.7;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    margin-right: 1.75rem;
    cursor: pointer;
    transition: all 0.5s;
}

.dots__dot:last-child {
    margin: 0;
}

.dots__dot--active {
    background-color: #FDC330;
    opacity: 1;
}

/* TESTIMONIALS */
.testimonial {
    width: 65%;
    position: relative;
    background-color: var(--main-orange-color);
    opacity: 0.8;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 40px;
    text-align: justify;
}



.testimonial__header {
    font-size: 2.25rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.testimonial__text {
    font-size: 1.7rem;
    margin-bottom: 3.5rem;
    color: #666;
}

.testimonial__author {
    margin-left: 3rem;
    font-style: normal;

    display: grid;
    grid-template-columns: 6.5rem 1fr;
    column-gap: 2rem;
}

.testimonial__photo {
    grid-row: 1 / span 2;
    width: 150px;
    border-radius: 120%;
    border: solid 1px rgb(255, 255, 255);
}

.testimonial__name {
    font-size: 1.7rem;
    font-weight: 500;
    align-self: end;
    margin: 0;
}

.testimonial__location {
    font-size: 1.5rem;
}

.section__title--testimonials {
    margin-bottom: 4rem;
}

/* SIGNUP */
.section--sign-up {
    background-color: #37383d;
    border-top: none;
    border-bottom: 1px solid #444;
    text-align: center;
    padding: 10rem 3rem;
}

.section--sign-up .section__header {
    color: #fff;
    text-align: center;
}

.section--sign-up .section__title {
    margin-bottom: 6rem;
}

.section--sign-up .btn {
    font-size: 1.9rem;
    padding: 2rem 5rem;
}

.slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sec3-h1 {
    color: #FDC330;
    font-family: 'Cherry Bomb One', cursive;
    margin-left: 22%;
    margin-bottom: 30px;
}

.hidden {
    opacity: 0;
    transition: all 0.7s;
}

.show {
    opacity: 1;
}